<div class="wrapper">
    <section data-grid="big-spacing center row">
        <div data-cell="1of2">
            <img src="./img/ilustrativas/monitor.png" class="desktop" alt="">
            <img src="./img/ilustrativas/monitor-mobile.png" class="mobile" alt="">
        </div>
        <div data-cell="1of2 end">
            <div class="page-content">
                <h1>O site da <img src="./img/layout/logo.png" width="126px" alt=""> está em construção.</h1>
                <h5>{{section.title}}</h5>
            </div>
            <h4 class="desktop">Mas você pode entrar <br> em contato conosco.</h4>
        </div>
    </section>
    <section data-grid="big-spacing" class="page-content infos-contato">
        <div data-cell="1of2" class="right">
            <h4 class="mobile">Mas você pode entrar <br> em contato conosco.</h4>
            <h4>
                <img src="./img/icones/email.png" alt=""> pelo email
            </h4>
            <h4>
                <a href="mailto:synertech@synertech.com.br">synertech@synertech.com.br</a>
            </h4>
        </div>
        <div data-cell="1of2">
            <h4>
                pelo telefone <img src="./img/icones/telefone.png" alt="">
            </h4>
            <details>
                <summary>escolha</summary>
                <ul class="seamless">
                    <li><a href="https://wa.me/5511997158184?text=Olá%20estou%20entrando%20em%20contato%20através%20do%20site%20da%20Synertech.">(11)99715-8184 - Rubens</a>
                    </li>
                    <li><a href="https://wa.me/5511989812899?text=Olá%20estou%20entrando%20em%20contato%20através%20do%20site%20da%20Synertech.">(11)98981-2899 - Paulo</a>
                    </li>
                    <li>
                        <a href="https://wa.me/5511996784002?text=Olá%20estou%20entrando%20em%20contato%20através%20do%20site%20da%20Synertech.">(11)99678-4002 - André</a>
                    </li>
                    <li>
                        <a href="https://wa.me/5511996036961?text=Olá%20estou%20entrando%20em%20contato%20através%20do%20site%20da%20Synertech.">(11)99603-6961 - José Carlos</a>
                    </li>
                    <li>
                        <a href="https://wa.me/5534984051234?text=Olá%20estou%20entrando%20em%20contato%20através%20do%20site%20da%20Synertech.">(34)98405-1234 - Ortiz</a>
                    </li>
                    <li>
                        <a href="https://wa.me/5562981155678?text=Olá%20estou%20entrando%20em%20contato%20através%20do%20site%20da%20Synertech.">(62)98115-5678 - Ortiz</a>
                    </li>
                </ul>
            </details>
        </div>
    </section>
</div>