<section id="slider-topo-banner" class="section-banner slider" data-options="">
    <style>
        @media only screen and (max-width: 600px) {
            .formInside {
                width: 10em
            }
        }
    </style>
    <div class="slide sobre1" style="display: flex; align-items: center; justify-content: center;">
        <section style="position: relative; bottom: -10%" class="wrapper">
            <h1 style="color: white; text-align: right; margin-right: 1em">{{section.title}}
            </h1>
            <form action="">
                <section data-grid="justify spacing">
                    <div style="color: white">
                        (11) 9.3456-0987<br>
                        (xx) 4526-9087<br>
                        Av. dos Belos Exemplos, 365<br>
                    </div>
                    <p class="container-inputs">
                        <input type="text" placeholder="NOME" /><br>
                        <input type="email" placeholder="EMAIL" /><br>
                    </p>
                </section>
                <textarea name="" id="" cols="80" rows="8" placeholder="MENSAGEM" style="margin-bottom: 3em"></textarea>
            </form>
        </section>
    </div>
    <a class="prev-section scroll" data-text="center" href="{{site.baseurl}}/#home">
        {% include svg/arrow-down.svg %}
        <br>
        home
    </a>
</section>