<section id="slider-equipe" class="section-banner slider" data-options="">
    {% for item in site.equipe %}
        <div class="slide equipe1">
            <ul class="navigationDots seamless">
                <li onclick="carrossel('{{item.nome}}', 1)">1</li>
                <li onclick="carrossel('{{item.nome}}', 2)">2</li>
                <li onclick="carrossel('{{item.nome}}', 3)">3</li>
                <li onclick="carrossel('{{item.nome}}', 4)">4</li>
                <li onclick="carrossel('{{item.nome}}', 5)">5</li>
                {% if (item.nome == 'ortiz' or item.nome == 'rubens' %}
                    <li onclick="carrossel('{{item.nome}}', 6)">6</li>
                    <li onclick="carrossel('{{item.nome}}', 7)">7</li>
                {% endif %}
                {% if item.nome == 'ortiz' %}
                    <li onclick="carrossel('{{item.nome}}', 8)">8</li>
                {% endif %}
            </ul>
            <script>
                
                function carrossel(pessoa, num) {
                    for (i = 1; i <= 8; i++) {
                        document.querySelector(`.${pessoa}${i}`).style.display = "none";
                    }

                    if(num == 1) {
                        document.querySelector('.historia').style.color = "white";
                        document.querySelector('.portifolio').style.color = "black";
                        document.querySelector('.contato').style.color = "black";
                    }
                    if(num == 2 || num == 3 || num == 4) {
                        document.querySelector('.portifolio').style.color = "white";
                        document.querySelector('.historia').style.color = "black";
                        document.querySelector('.contato').style.color = "black";
                    }
                    if(num == 5) {
                        document.querySelector('.portifolio').style.color = "black";
                        document.querySelector('.historia').style.color = "black";
                        document.querySelector('.contato').style.color = "white";
                    }

                    document.querySelector(`.${pessoa}${num}`).style.display = "block";
                }
            </script>


            <section class="wrapper" data-grid="spacing justify center">
                <div data-cell="1of3" data-text="left" data-grid="end center">
                    
                </div>
                <ul data-cell="2of2" class="carrosselList seamless">
                    <li class="list historia" style="color: white">História</li>
                    <li class="list portifolio">Portifólio</li>
                    <li class="list contato">Contato</li>
                </ul>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}1">
                    <p>
                        {{item.texto1}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}2">
                    <p>
                        {{item.texto2}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}3">
                    <p>
                        {{item.texto3}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}4">
                    <p>
                        {{item.texto4}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}5">
                    <p>
                        {{item.texto5}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}6">
                    <p>
                        {{item.texto6}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}7">
                    <p>
                        {{item.texto7}}
                    </p>
                </div>
                <div data-cell="2of2 end" data-text="left" class="align-left-center lauro {{item.nome}}8">
                    <p>
                        {{item.texto8}}
                    </p>
                </div>
            </section>
        </div>

        {% endfor %}
        <button type="button" class="icon" data-btn="slider" data-control="#slider-equipe" data-action="prev"
            data-callback="openOnMobile">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
                <path
                    d="M306 0C137.012 0 0 137.012 0 306s137.012 306 306 306 306-137.012 306-306S474.988 0 306 0zm0 554.625C168.912 554.625 57.375 443.088 57.375 306S168.912 57.375 306 57.375 554.625 168.912 554.625 306 443.088 554.625 306 554.625zM411.188 229.5c-8.377 0-15.836 3.634-21.076 9.352l-.076-.057L306 330.48l-84.054-91.686-.077.057c-5.221-5.718-12.68-9.352-21.057-9.352-15.835 0-28.688 12.852-28.688 28.688 0 7.478 2.926 14.21 7.612 19.335l-.077.057 105.188 114.75c5.451 5.91 13.101 9.295 21.152 9.295s15.701-3.385 21.133-9.295L432.32 277.58l-.076-.057c4.705-5.125 7.631-11.857 7.631-19.335 0-15.836-12.852-28.688-28.687-28.688z" />
                </svg>
        </button>
        <button type="button" class="icon" data-btn="slider" data-control="#slider-equipe" data-action="next"
            data-callback="openOnMobile">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
                <path
                    d="M306 0C137.012 0 0 137.012 0 306s137.012 306 306 306 306-137.012 306-306S474.988 0 306 0zm0 554.625C168.912 554.625 57.375 443.088 57.375 306S168.912 57.375 306 57.375 554.625 168.912 554.625 306 443.088 554.625 306 554.625zM411.188 229.5c-8.377 0-15.836 3.634-21.076 9.352l-.076-.057L306 330.48l-84.054-91.686-.077.057c-5.221-5.718-12.68-9.352-21.057-9.352-15.835 0-28.688 12.852-28.688 28.688 0 7.478 2.926 14.21 7.612 19.335l-.077.057 105.188 114.75c5.451 5.91 13.101 9.295 21.152 9.295s15.701-3.385 21.133-9.295L432.32 277.58l-.076-.057c4.705-5.125 7.631-11.857 7.631-19.335 0-15.836-12.852-28.688-28.687-28.688z" />
                </svg>
        </button>
        <a class="prev-section scroll" data-text="center" href="{{site.baseurl}}/#servicos">
            {% include svg/arrow-down.svg %}
            <br>
            serviços
        </a>
        <a class="next-section scroll" data-text="center" href="{{site.baseurl}}/#contato">
            contato
            <br>
            {% include svg/arrow-down.svg %}
        </a>
</section>