<section class="wrapper" data-grid="spacing justify end">
    <div data-cell="1of2" data-text="right">
        <p>
            A união entre cinco mentes 
            <br>
            enriquecidas com diferentes vivências 
            <br>
            moldam em sincronia projetos exclusivos 
            <br>
            para qualquer demanda.
        </p>
        <p>
            Fora da caixa, dentro das necessidades. 
            <br>
            Sobre engenharia sob medida.
        </p>
    </div>
    <div data-cell="1of2 end" data-text="right">
        {% for item in site.data.menu %}
            {% if item.title %}
                <h1>
                    <a class="scroll" href="{{site.baseurl}}/#{{item.url}}">{{item.title}}</a>
                </h1>
            {% endif %}
        {% endfor %}
    </div>
</section>