
<section id="slider-topo-banner" class="section-banner slider" data-options="autoplay">
        <div class="slide">
            <section class="wrapper" data-grid="spacing justify center">
                <div data-cell="1of2" data-text="right">
                    <h1 data-text="center">{{ section.title }}</h1>
                </div>
                <div data-cell="1of2 end" data-text="left" class="align-left-center">
                        <p>
                            A pluralidade de conhecimentos
                            <br>
                            torna a Synertech capaz de
                            <br>
                            atender suas necessidades em
                            <br>
                            diversas áreas.
                        </p>
                        <p>
                            Confira as possibilidades 
                            <br>
                            ao lado.
                        </p>
                </div>
            </section>
        </div>
        <div class="slide">
            <section class="wrapper" data-grid="spacing justify center">
                <div data-cell="1of2" data-text="right">
                    <h1 data-text="center">{{ section.title }}</h1>
                </div>
                <div data-cell="1of2 end" data-text="left" class="align-left-center">
                    <p>
                        A Synertech
                        <br>
                        lorem ipsum lorem
                        <br>
                        dollor sit amet lorem
                        <br>
                        lorem ipsum ipsum dollor sit
                        <br>
                        amet amet amet amet
                        <br>
                        ao lado.                                                                                    
                    </p>
                </div>
            </section>
        </div>
        <button type="button" class="icon" data-btn="link" data-control="#slider-topo-banner" data-action="prev" data-callback="openOnMobile">
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 129 129">
                <path d="M88.6 121.3c.8.8 1.8 1.2 2.9 1.2s2.1-.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8 0l-54 53.9c-1.6 1.6-1.6 4.2 0 5.8l54 53.9z" />
            </svg>
        </button>
        <button type="button" class="icon" data-btn="link" data-control="#slider-topo-banner" data-action="next" data-callback="openOnMobile">
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 129 129">
                <path d="M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z" />
            </svg>
        </button>
        <a class="prev-section scroll" data-text="center" href="{{site.baseurl}}/#sobre">
            {% include svg/arrow-down.svg %}
            <br>
            sobre
        </a> 
        <a class="next-section scroll" data-text="center" href="{{site.baseurl}}/#equipe">
            equipe
            <br>
            {% include svg/arrow-down.svg %}
        </a> 
    </section>