%section-spacing
    padding-top: $spacing-unit * 2
    padding-bottom: $spacing-unit * 2

%background-img
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.section-

    &construcao        
        color: $compl-color     
        +media-greater($on-laptop)
            padding: 60px 0px           
            height: calc(100vh - 120px)

        h5
            font-family: $thin-font-family

        .desktop
            display: none
            +media-greater($on-laptop)
                display: block

        .mobile
            display: none
            +media-query($on-laptop)
                display: block

        .infos-contato
            +media-query($on-laptop)
                text-align: center

        h4.mobile
            padding: $spacing-unit/2 0px

        section.page-content
            +media-query($on-palm)
                padding: 0 0
    &home
        height: 100vh
        background-image: url('../img/layout/bg-home.png')
        background-position: left top 155px
        background-size: auto 40%
        background-repeat: no-repeat
        // padding-top: 56px
        padding-bottom: $spacing-unit*2
        position: relative

        .wrapper
            height: calc(100vh - 60px)

            h1
                margin: 0 0
                a
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
                    // text-shadow: 0px 4px 10px rgba(150, 150, 150, 1)
                    color: $brand-color
                    @extend %transition
                    &:hover
                        color: $grey-color
                        text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff
                        text-decoration: none
            .next-section
                position: absolute
                bottom: 0
                font-size: $small-font-size
                width: $spacing-unit*3
                left: 50%
                margin-left: -45px

                svg
                    width: $spacing-unit
                    height: $spacing-unit

                    path
                        fill: $text-color

    &sobre
        @extend %section-spacing
        height: 100vh
        position: relative
        

    &institucional
        @extend %section-spacing
        @extend %background-img
        height: calc(100vh - 56px)
        background-image: url(../img/ilustrativas/institucional.jpg)

    &o-que-fazemos
        @extend %section-spacing
        @extend %background-img
        height: calc(100vh - 56px)