%section-spacing
    padding-top: $spacing-unit * 2
    padding-bottom: $spacing-unit * 2

%background-img
    background-size: cover
    background-position: center
    background-repeat: no-repeat

%next-section
    .next-section
        position: absolute
        bottom: 0
        font-size: $small-font-size
        width: $spacing-unit*3
        right: 50%
        margin-right: -45px
        z-index: 99
        animation: btn 1.4s infinite
        -webkit-animation: btn 1.4s infinite
        -ms-animation: btn 1.4s infinite
        -o-animation: btn 1.4s infinite
        transition: bottom 0.4s ease-in-out

        +media-query($on-laptop)
            right: 0
            margin-right: 0

        svg
            width: $spacing-unit
            height: $spacing-unit

            path
                fill: $text-color
                @extend %transition
        &:hover
            color: $grey-color
            text-decoration: none

            path
                fill: $grey-color

%prev-section
    .prev-section
        position: absolute
        top: 0
        font-size: $small-font-size
        width: $spacing-unit*3
        left: 50%
        margin-left: -45px
        z-index: 99999
        animation: btn-prev 1.4s infinite
        -webkit-animation: btn-prev 1.4s infinite
        -ms-animation: btn-prev 1.4s infinite
        -o-animation: btn-prev 1.4s infinite
        transition: top 0.4s ease-in-out

        +media-query($on-laptop)
            left: 0
            margin-left: 0
            top: unset
            bottom: 0
            -webkit-animation: btn 1.4s infinite
            -ms-animation: btn 1.4s infinite
            -o-animation: btn 1.4s infinite
            transition: bottom 0.4s ease-in-out            

        svg
            width: $spacing-unit
            height: $spacing-unit
            transform: rotate(180deg)

            path
                fill: $text-color
                @extend %transition
        &:hover
            color: $grey-color
            text-decoration: none

            path
                fill: $grey-color

@keyframes btn
    0%
        bottom: 0
    50%
        bottom: $spacing-unit/3
    100% 
        bottom: 0

@keyframes btn-prev
    0%
        top: 0
    50%
        top: $spacing-unit/3
    100% 
        top: 0

.section-

    &construcao
        color: $compl-color     
        +media-greater($on-laptop)
            padding: 60px 0px           
            height: calc(100vh - 120px)

        h5
            font-family: $thin-font-family

        .desktop
            display: none
            +media-greater($on-laptop)
                display: block

        .mobile
            display: none
            +media-query($on-laptop)
                display: block

        .infos-contato
            +media-query($on-laptop)
                text-align: center

        h4.mobile
            padding: $spacing-unit/2 0px

        section.page-content
            +media-query($on-palm)
                padding: 0 0
    &home
        height: 100vh
        background-image: url('../img/layout/bg-home.png')
        background-position: left top 155px
        background-size: auto 40%
        background-repeat: no-repeat
        // padding-top: 56px
        padding-bottom: $spacing-unit*2
        position: relative

        +media-query($on-laptop)
            background-size: 60%
            background-position: left top 60px

        .wrapper
            height: calc(100vh - 60px)

            +media-query($on-laptop)
                padding-top: $spacing-unit*4

            h1
                margin: 0 0
                a
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
                    // text-shadow: 0px 4px 10px rgba(150, 150, 150, 1)
                    color: $brand-color
                    @extend %transition
                    &:hover
                        color: $grey-color
                        text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff
                        text-decoration: none

            @extend %next-section

        .menu-home
            +media-query($on-laptop)
                display: none

    &sobre
        height: 100vh
        
        // padding-top: 56px
        padding-bottom: $spacing-unit*2
        position: relative
        font-size: 1.1em

        .sobre1
            background-image: url('../img/layout/bg-sobre1.png')
            background-position: left top 155px
            background-size: auto 40%
            background-repeat: no-repeat
        .sobre2
            h2 
                font-size: 2.7em

            padding-top: 8em
            background-image: url('../img/layout/bg-sobre2.png')
            background-position: center top 0px
            background-size: auto 90%
            background-repeat: no-repeat
        .sobre3
            h2 
                font-size: 2.7em

            padding-bottom: 3em
            background-image: url('../img/layout/bg-sobre3.png')
            background-position: center top 80px
            background-size: auto 65%
            background-repeat: no-repeat
        .sobre4
            h2 
                font-size: 2.7em
                margin-bottom: 1.3em
            
            padding-bottom: 4em
            background-image: url('../img/layout/bg-sobre4.png')
            background-position: center top 50px
            background-size: auto 75%
            background-repeat: no-repeat

        .sobre5
                h2
                    margin-left: 2em
                    margin-bottom: 2em

            padding-bottom: 3em
            background-image: url('../img/layout/bg-sobre5.png')
            background-position: left top 20px
            background-size: auto 85%
            background-repeat: no-repeat

        .wrapper
            height: calc(100vh - 60px)

            p
                font-size: $big-font-size

            .align-left-center
                margin-left: $spacing-unit*3
            .align-center
                align-content: center

        @extend %next-section
        @extend %prev-section

    &servicos
        height: 100vh
        background-image: url('../img/layout/bg-servicos.png')
        background-position: left top 155px
        background-size: auto 40%
        background-repeat: no-repeat
        // padding-top: 56px
        padding-bottom: $spacing-unit*2
        position: relative
        +media-query($on-laptop)
            background-size: 60%
            background-position: left top 60px     

            h2
                font-size: 1.62em

        .wrapper
            height: 100vh

            +media-query($on-laptop)
                padding-top: $spacing-unit*2

            &.padding-bottom
                padding-bottom: $spacing-unit*2

            p
                +media-greater($on-laptop)
                    font-size: $big-font-size
            
            .align-left-center
                +media-greater($on-laptop)
                    margin-left: $spacing-unit*3

        .slide
            &:not(:first-child)
                background-color: $background-color

        .redes
            svg
                width: $spacing-unit*2
                height: $spacing-unit*2
                path
                    fill: $grey-color

        @extend %next-section
        @extend %prev-section

    &contato
        background-color: #353535
        @extend %prev-section