.site-header
    min-height: 56px
    position: fixed
    width: 100%
    padding: $spacing-unit/2 0px
    +media-query($on-laptop)
        [data-logo-big]
            display: none

        [data-logo]
            display: block

    +media-query($on-palm)
        [data-logo]
            max-width: 80%

.site-title
    float: left
    line-height: 56px
    // img
    //     display: inline-block


.social-media
    .icon-sm
        svg
            width: $spacing-unit
            height: $spacing-unit
            path
                fill: $compl-color
                @extend %transition
        &:hover
            path
                fill: #000000
    &[hidden]
        display: none

    +media-query($on-laptop)
        display: none !important

.site-nav
    position: absolute
    top: 0
    left: auto
    right: 0
    z-index: 999    

    &[hidden]
        display: none

    &:hover
        width: auto
        height: auto

    .menu-icon
        display: block
        float: right
        position: fixed
        right: 0
        z-index: 999
        margin-left: $spacing-unit/2
        margin-top: $spacing-unit/2
        margin-right: $spacing-unit

        +media-query($on-laptop)
            margin-right: $spacing-unit/2
            margin-top: 0

    .trigger 
        clear: both
        // display: none
        position: fixed
        height: 100vh
        top: 0
        right: 0
        z-index: 99
        transform: translateX(100%)
        background-color: $text-color
        transition: 0.3s ease-in-out
        padding: 100px $spacing-unit*3 0 $spacing-unit+($spacing-unit/2)
        border-left: 4px solid $compl-color

    .hover + .trigger 
        // display: block
        padding-bottom: 5px
        transform: translateX(0)

    .page-link
        display: block
        padding: 5px 0px
        font-family: $bold-font-family
        color: $grey-color-light
        text-transform: uppercase
        @extend %transition
        &:hover
            color: $compl-color
            text-decoration: none

    .icon-sm
        margin-top: $spacing-unit
        svg
            path
                fill: $grey-color-light
                @extend %transition

        &:hover
            path
                fill: $compl-color

    +media-query($on-laptop)
        display: block

        &[hidden]
            display: block